{% extends '/auth/base_auth.html' %} {% block content %} 
<form method="post">
    {% with messages = get_flashed_messages() %} {% if messages %} <span class=errors> {{ messages[-1] }} </span> {% endif %} {% endwith %}
    <input name="code" placeholder="Code" type="text" id="reset-password-code" required minlength="6" maxlength="6">
    <input name="password" placeholder="New Password" type="password" id="reset-password-new-password" required minlength="4">
    <button type="submit" name="reset"  id="reset-password-button" class="fat">Validate</button>
</form>
{% endblock %}
